<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC_PREFERRED_PAYMENT_INFO" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NewGenSociety"
        tools:targetApi="31">
        <activity
            android:name=".SplashScreen"
            android:exported="true">

        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

        </activity>
        <activity
            android:name=".CommitteeM_Hall_Request"
            android:exported="false" />
        <activity
            android:name=".SocietyM_Hall_Request"
            android:exported="false" />
        <activity
            android:name=".Book_Hall"
            android:exported="false" />
        <activity
            android:name=".SocietyM_Login_ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".CommitteeM_AddHall"
            android:exported="false" />
        <activity
            android:name=".CommitteeM_showHall"
            android:exported="false" />
        <activity
            android:name=".CommitteeM_AllFlats"
            android:exported="false" />
        <activity
            android:name=".SocietyM_ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".CommitteeM_ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".CommitteeM_ChangePass"
            android:exported="false" />
        <activity
            android:name=".SocietyM_ChangePass"
            android:exported="false" />
        <activity
            android:name=".Maintenance_Payment"
            android:exported="false" />
        <activity
            android:name=".Exaption"
            android:exported="false" />
        <activity
            android:name=".SocietyM_AddFlat"
            android:exported="false" />
        <activity
            android:name=".SocietyM_showAddFlat"
            android:exported="false" />
        <activity
            android:name=".SocietyM_EditProfile"
            android:exported="false" />
        <activity
            android:name=".SocietyM_showMaintenance"
            android:exported="false" />
        <activity
            android:name=".CommitteeM_EditProfile"
            android:exported="false" />
        <activity
            android:name=".CommitteeM_showHelp"
            android:exported="false" />
        <activity
            android:name=".CommitteeM_showComplains"
            android:exported="false" />
        <activity
            android:name=".SocietyM_HelpPage"
            android:exported="false" />
        <activity
            android:name=".SocietyM_ComplainPage"
            android:exported="false" />
        <activity
            android:name=".SocietyM_Meetings_ShowPage"
            android:exported="false" />
        <activity
            android:name=".SocietyM_HallShow"
            android:exported="false" />
        <activity
            android:name=".SocietyM_HomePage"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".SocietyM_RegistrationPage"
            android:exported="false" />
        <activity
            android:name=".CommitteeM_show_Meetings"
            android:exported="false" />
        <activity
            android:name=".CommitteeM_MeetingsPage"
            android:exported="false" />
        <activity
            android:name=".CommitteeM_show_maintainance"
            android:exported="false" />
        <activity
            android:name=".CommitteeM_MaintenancePage"
            android:exported="false" />
        <activity
            android:name=".CommitteeM_NoticePubllishing_Page"
            android:exported="false" />
        <activity
            android:name=".CommitteeM_HomePage"
            android:exported="false" />
        <activity
            android:name=".committeeM_registration_page"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".SocietyM_LoginPage"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".CommitteeM_LoginPage"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>